<footer>
  <nav>
    <ul role="list">
      <li>
        <a href="https://github.com/KON-ch/astro-sample">Github</a>
      </li>
    </ul>
  </nav>
</footer>
<style>
  footer {
    max-width: var(--page-max-width);
    margin: auto;
  }
  ul {
    list-style: none;
  }
  a {
    color: #111;
    text-decoration: none;
  }
</style>
