<header>
  <nav>
    <ul role="list">
      <li class="top">
        <a href="/">TOP</a>
      </li>
      <li class="about">
        <a href="/about">ABOUT</a>
      </li>
    </ul>
  </nav>
</header>

<style>
  header {
    background-image: var(--accent-gradient);
    max-width: 60ch;
    margin: auto;
  }
  nav {
    min-height: 3em;
    display: flex;
  }
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: (1fr, 1fr);
  }
  li {
    grid-row: 1;
  }
  .top {
    grid-column: 1;
  }
  .about {
    grid-column: 2;
    padding: 0 2em;
  }
  a {
    color: #111;
    text-decoration: none;
  }
</style>
